* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
section {
  margin: 32px;
}
.title {
  word-spacing: 20px;
  text-align: center;
  text-transform: uppercase;
}
.text {
  line-height: 28px;
}
span {
  margin: 0;
}
.firstWord {
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 24px;
  opacity: 0.8;
  text-decoration: underline;
}
em {
  margin: 0;
}
a {
  text-decoration: none;
}
.translate {
  color: grey;
}