* {
  box-sizing: content-box;
}
.container {
}
.list {
  font-size: 1.5em;
  list-style: none;
}
.first {
  text-decoration: overline 1px solid red;
}
.second {
  text-decoration: line-through;
}
.third {
  text-decoration: underline solid green;
}